@font-face {
  font-family: 'Roboto-Regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
span,
p,
a,
::placeholder,
input {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 1em;
  color: var(--txt);
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto-Bold';
  font-weight: 700;
  color: var(--txt);
}
h4 {
  font-size: 1.05em;
}
h3 {
  font-size: 1.1em;
}
h2 {
  font-size: 1.15em;
}
h1 {
  font-size: 1.2em;
}
* {
  margin: 0;
  padding: 0;
  resize: none;
  text-decoration: unset;
  border: unset;
  outline: unset;
  height: auto;
  width: auto;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
:root {
  --txt: #312614;
  --substrate: #f2f2f2;
  --darkorange: #f88d09;
  --white: #ffffff;
  --grey: #f1f1f1;
  --gap: 16px;
  --wrp: 90vw;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--substrate);
}
body.backpopup {
  overflow-y: hidden;
}
.flex {
  display: flex;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
main > section.tab {
  padding: 50px 0px;
}
main > section.tab.nopad {
  max-width: unset;
  width: 100%;
}
main > section.tab:not(.nopad) {
  max-width: var(--wrp);
  width: 100%;
  margin: 0px auto;
}
.wrp {
  display: contents;
}
#stages {
  display: flex;
  gap: 10px;
}
.stage__holder {
  --stage__holder--gap: 12px;
  --stage__holder--br: 20px;
  --stage__holder--padd: 12px;
  --stage__holder--size: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--stage__holder--size);
  gap: var(--stage__holder--gap);
}
.stage__holder .stage__holder--heading {
  -webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--stage__holder--padd);
  background-color: var(--white);
  border-top-left-radius: var(--stage__holder--br);
  border-top-right-radius: var(--stage__holder--br);
  border-bottom: 3.12px solid var(--darkorange);
}
.stage__holder .stage__holder--heading .stage__holder--amount {
  padding: 5px 11px;
  background-color: var(--darkorange);
  border-radius: 12px;
  color: var(--white);
}
.stage__holder .stage__holder--holder {
  display: flex;
  flex-direction: column;
  gap: var(--stage__holder--gap);
}
.stage__holder .stage__holder--holder .item {
  display: flex;
  flex-direction: column;
  gap: var(--stage__holder--gap);
  padding: calc(var(--stage__holder--padd) + 10px) 0px;
  border-radius: var(--stage__holder--br);
  background-color: var(--white);
  -webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.15);
}
.stage__holder .stage__holder--holder .item > * {
  padding: 0px var(--stage__holder--padd);
  user-select: none;
}
.stage__holder .stage__holder--holder .item .item--heading {
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'Roboto-Bold';
  border-bottom: 2px solid var(--grey);
  padding-bottom: 5px;
}
